doctype 5
html
  head 
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    <a class="button" href="https://ripple.com/graph/#rLaTKSx5Zqcvjrchdeqd2tkSyTVm7jeJmK" style=" height: 50px; width: 100%; position: relative; z-index: 2;" data-appbuilder-object="button" data-transition="slide">Statistics for Project FUND</a><br/>
    
    <a class="button" href="https://ripple.com/graph/#rLaTKSx5Zqcvjrchdeqd2tkSyTVm7jeJmK" style=" height: 50px; width: 100%; position: relative; z-index: 2;" data-appbuilder-object="button" data-transition="slide">Statistics for Project DEVICE</a><br/>

    <a class="button" href="https://ripple.com/graph/#rLaTKSx5Zqcvjrchdeqd2tkSyTVm7jeJmK" style=" height: 50px; width: 100%; position: relative; z-index: 2;" data-appbuilder-object="button" data-transition="slide">Statistics for Project DEVELOPERS</a><br/><br/>
    
    <a class="button" href="http://noolite-server.herokuapp.com/switches/0" style=" height: 50px; width: 100%; position: relative; z-index: 2;" data-appbuilder-object="button" data-transition="slide">ON</a><br/>

    <a class="button" href="http://noolite-server.herokuapp.com/switches/1" style=" height: 50px; width: 100%; position: relative; z-index: 2;" data-appbuilder-object="button" data-transition="slide">OFF</a><br/>
    
